/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
p {
    font-family: 'Lato', sans-serif; 
    font-size: 18px;
    font-weight: lighter;
    line-height: 28px;
    color: #fff;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #6cbfee;
    margin: 0;
    text-align: right;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #fff; 
    border-bottom: 1px solid rgba(255,255,255,0.4); 
    margin: 0;
    padding-bottom: 15px;
}

.main-container {
    width: 50%;
    margin: 0 auto;
    
}
    
.timeline > * {
    background-color: #6cbfee;
    position: relative;
    border-radius: 5px;
    position: relative;
    list-style: none;
    margin-bottom: 15px;
}

.timeline {
    border-left: 5px solid #6cbfee;
    padding: 0px 0 0 50px;
}

.timeline > *:nth-child(even) {
    background-color:#3594cb;
}

.timeline article {
    color: white;
}

.timeline li {
    padding: 40px;
    box-sizing: border-box;
}

.timeline li::before {
    content: " ";
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #6cbfee;
    position: absolute;
    left: -9px;
    top: 9px;
}

.timeline:nth-child(even)::before {
    border-right: 10px solid #3594cb;
}

.timeline article > h3 {
    border-bottom: 1x solid #fff;
}

.timeline > li .left-side {
    display: block;
    position: absolute;
}

.left-side {
    left: -240px;
    top: -20px;
}

.left-side p {
    color: #bdd0db;
    text-align: right;
    margin: 10px 0 10px 0;
}

.timeline big {
    font-size: 200%;
    color: #6cbfee;
    text-align: right;
    display: inline;
    font-weight: bolder;
    margin: 0;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 5px solid #6cbfee;
    background-color: #3594cb;
    position: absolute;
    left: -80px;
    top: -13px;
    line-height: 45px;
    text-align: center;
}

.fa {
    color: #fff;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {
    .timeline big {
        font-size: 120%;   
    }
    .left-side {
        left: -185px;
    }
    
    .left-side p {
        line-height: 20px;
    }
}

@media only screen and (max-width: 755px) {
    .main-container {
        width: 80%;
    }
    
    .timeline {
        border: none;
        padding: 0;
    }
    
    .timeline li {
        top: 100px;
    }
    
    .timeline li::before{
        content: " ";
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent; 
        border-bottom:10px solid #6cbfee;
        position: absolute;
        top: -19px;
        left: 25px;
    }
    
    .left-side {
        left: 0px;
        top: -90px;
    }
    
    .circle {
        position: relative;
        float: right;
        left: auto;
        margin: -90px -40px 0 0px;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
