.content {
    float: left;
    text-align: left;
    padding-right: 10%;
    width: 75%;
    box-sizing: border-box;
}

.sidebar {
    float: left;
    width: 25%;
    text-align: left;
    padding-right: 60px;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    font-family: 'Open-Sans' sans-serif;
    color: #555555;
}